language: cpp

arch: amd64
os: linux
dist: focal

env:
  global:
   - secure: "UMlC5EgQDVy9l2VUSUz0pQWIfnSig6BtPVi7JT3Fa8AJc9o/MzKcv29zgkpLX6ySrGUUleNRY2pC0CdZwDYEy+CWhGPyv2a6jv9POPthWOptm+TjsoGgLxNuhU3lEH1Hq/GskobnB1aQOKDky/QB2XKEbnvKeQmyi1sfgjce0+2hL6mynJv4J6tyfYHpW7a1YNksCGydpDzMSLbYPBmy6++v9dSFT2/VK6GCcnAc5cebyc7XTWjiUcXy0uHenThPcIfsX+CdpCPOp9lElM597A8TUN9x7eLfyPo4FTTU2gD59+02B5oKqX955kNdL6zorZTxiCB1wSCyuUem9g2WLWSQoDxDCWikzsEoW6XPZJmyX8p3gxA1OeaqrDWUzDb6O+FraXwb9qaVauOPAmEkKuUi8RJgVTtjJedRgPKHeYRwgHYz6HUKgVcq5tm8WfMWFjpp0HkC1MCXnHRY8ZDLI39GCbmlKmgV25ttxupoJN+4WmTQKoA1qJo6be1h1snBqeIjpmfZhUnNHHPgowfD68sR6J4pbVXRlUylhvmblwNFUD9kwFuyEud/5ToZlO15H8iZx9ek72ykGQ34VwMfXxxN8utwqLzorbMu5aR0L0BznQu+B89w4N+Gy64DmfNIeOw93McMQMYDmfXDtbt5AfP3Q+vH8lsfTXkIqUgyfSM="

before_install:
  - echo -n | openssl s_client -connect https://scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-


jobs:
  include:
    compiler: gcc
    before_install:
      - sudo apt-get update
      - sudo apt-get -y install libgtk-3-dev meson libgtk-layer-shell-dev
      - wget https://github.com/vstakhov/libucl/archive/0.8.1.tar.gz -O /tmp/libucl.tgz
      - pushd /tmp
      - tar -xvf libucl.tgz
      - cd libucl-0.8.1
      - ./autogen.sh
      - ./configure
      - make
      - sudo make install
      - popd
    script:
      - meson build
      - ninja -C build

addons:
  coverity_scan:
    project:
      name: "LBCrion/sfwbar"
      description: "SFWBar"
    notification_email: harley@hosers.org
    build_command_prepend: "meson build"
    build_command: "ninja -C build"
    branch_pattern: main
