
layout {

  Clock1 {
    type = grid
    style = "frame",
    css = "* { -GtkWidget-direction: bottom; }"
    children {
      Time { 
        type = label
        css = "label { font: 20px Sans; font-weight: 700; min-width: 84px; -GtkWidget-align: 0.5; -GtkWidget-vexpand: true;}"
        value = "Extract(Time(),'([0-9]*:[0-9]*)')"
      }
      Date { 
        type = label
        value = "Extract(Time(),'^([A-Za-z]+\\ [A-Za-z]+[\\ ]+[0-9]+)')"
        css = "label { -GtkWidget-align: 0.5; -GtkWidget-vexpand: true; }"
      }
    }
  } 
  Clock2 {
    type = grid
    style = "frame",
    css = "* { -GtkWidget-direction: bottom; }"
    children {
      Time { 
        type = label
        css = "label { font: 20px Sans; font-weight: 700; min-width: 84px; -GtkWidget-align: 0.5; -GtkWidget-vexpand: true;}"
        value = "Extract(Time(':America/Barbados'),'([0-9]*:[0-9]*)')"
      }
      Date { 
        type = label
        value = "'Barbados'"
        css = "label { -GtkWidget-align: 0.5; -GtkWidget-vexpand: true; }"
      }
    }
  }
  Clock3 {
    type = grid
    style = "frame",
    css = "* { -GtkWidget-direction: bottom; }"
    children {
      Time { 
        type = label
        css = "label { font: 20px Sans; font-weight: 700; min-width: 84px; -GtkWidget-align: 0.5; -GtkWidget-vexpand: true;}"
        value = "Extract(Time(':Pacific/Fiji'),'([0-9]*:[0-9]*)')"
      }
      Date { 
        type = label
        value = "'Fiji'"
        css = "label { -GtkWidget-align: 0.5; -GtkWidget-vexpand: true; }"
      }
    }
  }
  Clock4 {
    type = grid
    style = "frame",
    css = "* { -GtkWidget-direction: bottom; }"
    children {
      Time { 
        type = label
        css = "label { font: 20px Sans; font-weight: 700; min-width: 84px; -GtkWidget-align: 0.5; -GtkWidget-vexpand: true;}"
        value = "Extract(Time('Asia/Macau'),'([0-9]*:[0-9]*)')"
      }
      Date { 
        type = label
        value = "'Macau'"
        css = "label { -GtkWidget-align: 0.5; -GtkWidget-vexpand: true; }"
      }
    }
  }
}
    
