{
  "placement": {
    "xcascade": 5,
    "ycascade": 5,
  },
  "scanner": [
  {
    "name":"/proc/net/dev", "variables": [
    {"number":"EthRcvd","value":"eth[\\t 0-9]*:[\\t ]*([0-9]+)","flag":"Add"},
    {"number":"EthSent","value":"eth[\\t 0-9]*:(?:[\\t ]*[0-9]+){8}[\\t ]([0-9]+)","flag":"Add"}]
  },
  {
    "name":"/proc/meminfo", "variables": [
    {"number":"MemTotal","value":"^MemTotal:[\\t ]*([0-9]+)[\\t ]"},
    {"number":"MemFree","value":"^MemFree:[\\t ]*([0-9]+)[\\t ]"},
    {"number":"MemCache","value":"^Cached:[\\t ]*([0-9]+)[\\t ]"},
    {"number":"MemBuff","value":"^Buffers:[\\t ]*([0-9]+)[\\t ]"}]
  },
  {
    "name":"/proc/swaps", "variables": [
    {"number":"SwapTotal","value":"[\\t ]([0-9]+)","flag":"Add"},
    {"number":"SwapUsed","value":"[\\t ][0-9]+[\\t ]([0-9]+)","flag":"Add"}]
  },
  {
    "name":"/proc/stat", "variables": [
    {"number":"CpuUser","value":"^cpu [\\t ]*([0-9]+)","flag":"Add"},
    {"number":"CpuNice","value":"^cpu [\\t ]*[0-9]+ ([0-9]+)","flag":"Add"},
    {"number":"CpuSystem","value":"^cpu [\\t ]*[0-9]+ [0-9]+ ([0-9]+)","flag":"Add"},
    {"number":"CpuIdle","value":"^cpu [\\t ]*[0-9]+ [0-9]+ [0-9]+ ([0-9]+)","flag":"Add"}]
  },
  {
    "name":"/sys/class/hwmon/hwmon2/temp1_input", "variables": [
    {"number":"MBTemp","value":"([0-9]+)"}]
  },
  {
    "name":"/sys/class/hwmon/hwmon1/temp1_input", "variables": [
    {"number":"CPUTemp","value":"([0-9]+)"}]
  },
  {
    "name":"/sys/devices/platform/it87*/hwmon/hwmon2/fan2_input", "variables": [
    {"number":"CPUFan","value":"([0-9]+)"}]
  },
  {
    "name":"cat /home/crion/dev/sfwbar/src/*", "flags":"Exec", "variables": [
    {"number":"Test","value":"UP_UPDATE = ([0-9])"}]
  },
  {
    "name":"/sys/devices/platform/it87*/hwmon/hwmon2/fan1_input", "variables": [
    {"number":"MBFan","value":"([0-9]+)"}]
  },
  {
    "name":"/home/crion/.fvwm/weather.tmp", "flags":"", "variables": [
    {"string":"WthrTemp","value":"\"timeseries\".*\"air_temperature\":([0-9\\-\\.]*)"},
    {"number":"WthrPrss","value":"\"timeseries\".*\"air_pressure_at_sea_level\":([0-9\\.]*)"},
    {"string":"WthrWind","value":"\"timeseries\".*\"wind_speed\":([0-9\\.]*)"},
    {"string":"WthrCond","value":"\"timeseries\".*\"symbol_code\":\"([A-Za-z_]*)\""}]
  } ],
  
  "layout": [
  {
    "type": "taskbar",
    "expand": false,
    "icon": true,
    "title": false,
    "isize": 36,
    "rows": 1
  },
  {
    "type":"label",
    "expand":true,
  },
  {
    "type":"pager",
    "rows":1
  },
  {
    "type": "button",
    "style": "launcher",
    "action": "firefox",
    "icon": "firefox",
    "isize": 36
  },
  {
    "type": "button",
    "style": "launcher",
    "action": "alacritty",
    "icon": "Alacritty",
    "isize": 36
  },
  {
    "type": "grid",
    "direction": "vertical",
    "children": [
    { "x": 1, "y": 1, "type": "label", "value": "'CPU:'" },
    { "x": 1, "y": 2, "type": "label", "value": "'Mem:'" },
    { "x": 2, "y": 1, "type": "scale", "style": "blue", "direction": "horizontal", 
      "value": "(CpuUser-CpuUser.pval)/(CpuUser+CpuNice+CpuSystem+CpuIdle-CpuUser.pval-CpuNice.pval-CpuSystem.pval-CpuIdle.pval)" },
    { "x": 2,"y": 2,"type": "scale", "style":"green", "direction": "horizontal",
      "value": "(MemTotal-MemFree-MemCache-MemBuff)/MemTotal" } ]
  },
  { "type": "label", "freq":300000, "style": "bold", "value": "$WthrTemp+'C'", "xalign":0.5 },
  { "type": "label", "style": "bold", 
      "value": "Extract(Time(),'([A-Za-z]*)')+' '+Extract(Time(),'([0-9]*:[0-9]*)')", "xalign":0.5 }
   ]
} 
    
