window {
  background: transparent;
  border-radius: 3px;
  border-color: #ffffff;
  border-width: 1px;
}

button#taskbar_normal label, button#taskbar_active label, button#taskbar_normal:hover label {
  padding-left: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
}

button#taskbar_normal , button#taskbar_active , button#taskbar_normal:hover {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-image: none;
  background: transparent;
  border-radius: 0;
  border-image: none;
  border: none;
  font: 10px Sans;
}

button#taskbar_active {
  border-width: 1px;
}

button#taskbar_normal:hover {
  background-color: #cccccc;
}

button#pager_normal , button#pager_visible , button#pager_focused, button {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-image: none;
  background: transparent;
  outline-color: transparent;
  border-radius: 0;
  border-image: none;
  outline-style: none;
  box-shadow: none;
border: none;
  font: 10px Sans;
}

button#pager_focused {
  border-top: none;
}

button#launcher {
background: transparent;
border: none;
border-top: none;
border-image: none;
background-image: none;
outline-width: 0px;
}
progress, trough {
  border-radius: 0;
}

progressbar {
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 4px;
  padding-bottom: 3px;
}

progress {
  border-style: outset;
  border-color: #9c9c9c;
  min-height: 8px;
}

progressbar#red progress{
  background-color: #ff0000;
}
progressbar#green progress {
  background-color: #00ff00;
}
progressbar#blue progress {
  background-color: #0000ff;
}

trough {
  background-color: #a1a1a1;
  border-color: #9c9c9c;
  border-style: inset;
  min-height: 10px;
  min-width: 50px;
}

grid#frame {
  border-color: #9c9c9c;
  border-style: groove;
  border-width: 0px;
  padding-top: 1px;
}

grid#layout {
padding: 1px;
}

label {
  font: 10px Sans;
  color: #cccccc;
  text-shadow: 2px 2px #000000;
}

label#static {
  font: 10px Sans;
  min-width: 35px;
  min-height: 11px;
  padding-left: 5px;
}

label#value {
  font: 10px Sans;
  min-width: 42px;
  min-height: 11px;
  padding-right: 5px;
}

label#bold {
  font: 20px Sans;
  font-weight: 700;
  min-width: 84px;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 2px;
}

label#w10 {
  min-width: 10px;
}

label#w25 {
  min-width: 25px;
}
