# Override gtk theme
# theme = "Adwaita-dark"
# Override gtk icon theme
# IconTheme = "Adwaita"

# Display minimized windows on taskbars across all outputs
# DisownMinimized = true

# Select terminal emulator to use
Set Term = "foot"
Set ThicknessHint = "20px"

TriggerAction "SIGRTMIN+1", SwitcherEvent "forward"
TriggerAction "SIGRTMIN+2", SwitcherEvent "back"

Function SfwbarInit() {
#  Config "PopUp 'XVolumeWindow' { AutoClose = true }"
}

# Window Placer
placer {
  xorigin = 5  # place the first window at X% from the left
  yorigin = 5  # place the first window at X% from the top
  xstep = 5    # step by X% of desktop horizontally
  ystep = 5    # step by X% of desktop vertically
  children = true
}

# Task Switcher
switcher {
  disable = false
  interval = 700
  icons = true
  labels = false
  cols = 5
#  filter = workspace
}

include "winops.widget"

bar {
  layer = "top"
  mirror = "*"
  exclusive_zone = "auto"
#  size = "90%"
#  sensor = 300
#  sensor_delay = 500
#  transition = 800
#  monitor = "eDP-1"

  widget "startmenu.widget"
  widget "showdesktop.widget"

  taskbar {
    style = "taskbar"
    rows = 1;
    tooltips = true;
    icons = true;
    labels = true;
    sort = false;
#    filter = workspace;
    action[3] = Menu "winops"
    action[Drag] = Focus
  }

# en empty label to take up extra space between the taskbar and pager
  label {
    css = "* { -GtkWidget-hexpand: true; }"
  }

  pager {
    style = "pager"
    rows = 1
    pins = "1","2","3","4"
    preview = true
    primary_axis = rows
    action[Drag] = WorkspaceActivate
  }

  widget "cpu.widget"
  widget "memory.widget"

  tray {
    rows = 1
  }

  widget "battery-svg.widget" {
# specify a battery device name or leave out to autodetect
#    device = 'BAT0'
  }
  widget "idle.widget"
#  widget "rfkill-wifi.widget"
#  widget "rfkill-bt.widget"
  widget "upower.widget"
  widget "backlight.widget"
  widget "mpd-intmod.widget"
  widget "volume.widget"
  widget "bluez.widget"
  widget "network-module.widget"
  widget "ncenter.widget"
  widget "privacy.widget"
  widget "sway-lang.widget"
  widget "clock.widget" {
    time_format = "%H:%M"
    tooltip_format = "%H:%M\n%x"
    week_starts_on_sunday = false
  }
}

#CSS
#hidden {
  -GtkWidget-visible: false;
}

button,
button image {
  min-height: 0px;
  outline-style: none;
  box-shadow: none;
  background-image: none;
  border-image: none;
}

label {
  font-family: Sans;
  font-size: calc(@bar_thickness * 0.7);
}

image {
  -ScaleImage-symbolic: true;
}

button#startmenu,
button#module {
  border: none;
  padding: calc(@bar_thickness * 0.1);
  margin: 0px;
  -GtkWidget-vexpand: true;
}

button#startmenu:hover,
button#module:hover {
  background-color: rgba(213,213,213,0.6);
}

button#startmenu image,
button#module image {
  padding: 0px;
  margin: 0px;
  min-width: calc(@bar_thickness * 0.8);
  min-height: calc(@bar_thickness * 0.8);
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
}

button#taskbar_item {
  padding: calc(@bar_thickness * 0.1);
  border-radius: 0px;
  border-width: 0px;
  -GtkWidget-hexpand: false;
}

grid#taskbar > :not(:last-child) button#taskbar_item {
  border-radius: 0px;
  border-right: 1px solid alpha(@theme_fg_color,0.15);
}

button#pager_item.focused,
button#taskbar_item.focused {
  background-color: rgba(199,227,255,0.6);
}

button#taskbar_item.minimized label {
  color: alpha(currentColor, 0.6);
}

button#taskbar_item:hover {
  background-color: rgba(213,213,213,0.6);
}

button#taskbar_item grid {
  -GtkWidget-valign: center;
}

button#taskbar_item image {
  min-height: calc(@bar_thickness * 0.8);
  min-width: calc(@bar_thickness * 0.8);
  padding-right: calc(@bar_thickness * 0.25);
  padding-left: calc(@bar_thickness * 0.25);
  -ScaleImage-symbolic: false;
  -GtkWidget-vexpand: true;
}

button#taskbar_item label {
}

button#tray_item {
  margin: 0px;
  border: none;
  padding: 0px;
}

button#tray_item.passive {
  -GtkWidget-visible: false;
}

button#tray_item image {
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
  padding: 3px;
  margin: 0px;
  border: none;
}

grid#pager {
  border-radius: calc(@bar_thickness * 0.1);
  border-color: @theme_fg_color;
  border-style: solid;
  border-width: 1px;
  margin: calc(@bar_thickness * 0.1);
  padding: 0px;
}

button#pager_item {
  border-radius: calc(@bar_thickness * 0.25);
  border: none;
  outline: 0px;
  margin-right: 2px;
  margin-left: 2px;
  padding: 0px;
  -GtkWidget-halign: center;
  -GtkWidget-valign: center;
}

button#pager_item label {
  font-size: calc(@bar_thickness*0.8 - 2px);
}

button#pager_preview {
  border-radius: 0;
  border-color: #000000;
  border-width: 0.25mm;
  color: #777777;
  min-width: 5cm;
  min-height: 2.8125cm;
}

#app_menu_system #menu_item image {
  -ScaleImage-symbolic: false;
}

#menu_item,
#menu_item image,
#menu_item label {
  -GtkWidget-halign: start;
}

menuitem image {
  min-width: 16px;
  min-height: 16px;
  padding-right: 2px;
}

chart#cpu_chart {
  background: rgba(127,127,127,0.3);
  min-width: 9px;
  -GtkWidget-vexpand: true;
  margin: 2px;
  border: 1px solid @theme_fg_color;
  color: red;
}

progressbar#memory {
  -GtkWidget-direction: top;
  -GtkWidget-vexpand: true;
  min-width: 9px;
  border: 1px solid @theme_fg_color;
  margin: 2px;
}

progressbar#memory trough {
  min-height: 2px;
  min-width: 9px;
  border: none;
  border-radius: 0px;
  background: rgba(127,127,127,0.3);
}

progressbar#memory progress {
  -GtkWidget-hexpand: true;
  min-width: 9px;
  border-radius: 0px;
  border: none;
  margin: 0px;
  background-color: alpha(green,0.9);
}

grid#switcher_item.focused image,
grid#switcher_item.focused {
  background-color: #bbddff;
}

grid#switcher_item image,
grid#switcher_item {
  min-width: 50px;
  min-height: 50px;
  border-radius: 5px;
  padding: 5px;
  -GtkWidget-direction: right;
  -GtkWidget-hexpand: true;
  -ScaleImage-symbolic: false;
}

window#switcher { 
  border: 1px solid @borders;
  border-radius: 6px; 
  padding: 60px; 
  -GtkWidget-hexpand: true;
}

grid#switcher { 
  border-radius: 5px;
  padding: 5px;
  -GtkWidget-hexpand: true;
}

label#sway_lang {
  margin-left: 3px;
  margin-right: 5px;
}

.urgent label {
  color: red;
}
