button#taskbar_normal label, button#taskbar_active label, button#taskbar_normal:hover label {
  padding-left: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
}

button#taskbar_normal , button#taskbar_active , button#taskbar_normal:hover {
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-image: none;
  border-radius: 0;
  border-image: none;
  font: 10px Sans;
}

button#taskbar_active {
  background-color: #bbddff;
}

button#taskbar_normal:hover {
  background-color: #cccccc;
}

button#pager_normal , button#pager_visible , button#pager_focused {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-image: none;
  border-radius: 0;
  border-image: none;
  font: 10px Sans;
}

button#pager_focused {
  background-color: #bbddff;
}

grid#switcher_active *, grid#switcher_active, grid#switcher_active * * {
  background-color: #bbddff;
  border-image: none;
  border-radius: 5px;
  padding: 5px;
}

grid#switcher_normal *, grid#switcher_normal {
  border-image: none;
  padding: 5px;
}

window#switcher { 
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 5px; 
  padding: 5px; 
}

grid#switcher { 
  border-radius: 5px;
  padding: 5px;
}

progressbar {
  padding-left: 1px;
  padding-right: 1px;
  -GtkWidget-vexpand: true;
  -GtkWidget-direction: top;
}

progress, trough {
  border-radius: 0;
  border-color: #9c9c9c;
}

progress {
  border-style: outset;
  min-width: 8px;
}

trough {
  background-color: #a1a1a1;
  border-style: inset;
  min-height: 10px;
  min-width: 10px;
}

grid#frame {
  border-color: #9c9c9c;
  border-style: groove;
  border-width: 2px;
  padding-top: 1px;
}

grid#layout {
  padding: 1px;
  -GtkWidget-direction: right;
}

label {
  font: 10px Sans;
  color: #000000;
}

label#static {
  min-width: 35px;
  min-height: 11px;
  padding-left: 5px;
}

label#value {
  min-width: 42px;
  min-height: 11px;
  padding-right: 5px;
  -GtkWidget-align: 1;
}

