button#taskbar_normal label, button#taskbar_active label, button#taskbar_normal:hover label {
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

button#taskbar_normal , button#taskbar_active , button#taskbar_normal:hover {
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-image: none;
  border-radius: 0;
  border-image: none;
  font: 10px Sans;
}

button#taskbar_active {
  background-color: #bbddff;
}

button#taskbar_normal:hover {
  background-color: #cccccc;
}

button#pager_normal , button#pager_visible , button#pager_focused {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-image: none;
  border-radius: 0;
  border-image: none;
  font: 10px Sans;
}

button#pager_focused {
  background-color: #bbddff;
}


progress, trough {
  border-radius: 0;
}

progressbar {
  padding-left: 1px;
  padding-right: 1px;
}

progress {
  border-style: outset;
  border-color: #9c9c9c;
  min-width: 8px;
}

progressbar#red progress{
  background-color: #ff0000;
}
progressbar#green progress {
  background-color: #00ff00;
}
progressbar#blue progress {
  background-color: #0000ff;
}

trough {
  background-color: #a1a1a1;
  border-color: #9c9c9c;
  border-style: inset;
  min-height: 56px;
  min-width: 10px;
}

grid#frame {
  border-color: #9c9c9c;
  border-style: groove;
  border-width: 2px;
  padding-top: 1px;
}

grid#layout {
padding: 1px;
}

label {
  font: 10px Sans;
  color: #000000;
}

label#static {
  font: 10px Sans;
  min-width: 35px;
  min-height: 11px;
  padding-left: 5px;
}

label#value {
  font: 10px Sans;
  min-width: 42px;
  min-height: 11px;
  padding-right: 5px;
}

label#bold {
  font: 20px Sans;
  font-weight: 700;
  min-width: 84px;
  padding-top: 1px;
  padding-bottom: 2px;
}

label#w10 {
  min-width: 10px;
}

label#w25 {
  min-width: 25px;
}
