TriggerAction "SIGRTMIN+1", SwitcherEvent "forward"
TriggerAction "SIGRTMIN+2", SwitcherEvent "back"

# Task Switcher
switcher {
  interval = 700
  icons = true
  labels = false
  cols = 5
}

#CSS
#hidden {
  -GtkWidget-visible: false;
}

button,
button image {
  outline-style: none;
  box-shadow: none;
  background-image: none;
  border-image: none;
}

label {
  font: 14px Sans;
}

image {
  -ScaleImage-symbolic: true;
}

grid#switcher_active image,
grid#switcher_active {
  background-color: #bbddff;
}

grid#switcher_active image,
grid#switcher_active,
grid#switcher_normal image,
grid#switcher_normal {
  min-width: 50px;
  min-height: 50px;
  border-radius: 5px;
  padding: 5px;
  -GtkWidget-direction: right;
  -GtkWidget-hexpand: true;
  -GtkWidget-direction: right;
  -ScaleImage-symbolic: false;
}

window#switcher { 
  border: 1px solid @borders;
  border-radius: 6px; 
  padding: 60px; 
  -GtkWidget-hexpand: true;
}

grid#switcher { 
  border-radius: 5px;
  padding: 5px;
  -GtkWidget-hexpand: true;
}
