# Override gtk theme
# theme = "Adwaita-dark"
# Override gtk icon theme
# IconTheme = "Adwaita"

Set Term = "alacritty"

# Window Placer
placer {
  xorigin = 5  # place the first window at X% from the left
  yorigin = 5  # place the first window at X% from the top
  xstep = 5    # step by X% of desktop horizontally
  ystep = 5    # step by X% of desktop vertically
  children = true
}

# Task Switcher
switcher {
  interval = 700
  icons = true
  labels = false
  cols = 5
}

function("SfwbarInit") {
  SetBarId "bar-0"
  SetLayer "top"
}

include("winops.widget")

# Panel layout

layout {
  include("startmenu.widget")

  button {
    style = "launcher"
    value = $Term
    action = Exec $Term
  }

  button {
    style = "launcher"
    value = "firefox"
    action = "firefox"
  }

# Uncomment the below section if you would like a pager
#  pager {
#    style = "pager"
#    rows = 1
#    preview = true
#    numeric = true
#  }

  taskbar {
    rows = 1
    css = "* { -GtkWidget-hexpand: true; -FlowGrid-column-homogeneous: true; }" # stretch horizontally
    labels = false
    group = pager  # remove this line if you don't want a multi-desktop taskbar
    group icons = true
    group labels = true
    sort = true
    numeric = true

    action[3] = Menu "winops"
    action[2] = Close
  }

  include("cpu.widget")
  include("memory.widget")

  tray {
    rows = 1
  }

  include("battery-svg.widget")
  include("bluez.widget")
  include("network-module.widget")
# Select pulse-module or alsa-module based on your sound configuration
  include("pulse-module.widget")
# include("alsa-module.widget")
  include("mpd-intmod.widget")
  include("sway-lang.widget")

  grid {
    css = "* { padding-left: 5px; padding-right: 5px; }"
    label {
      value = Time("%k:%M")
      loc(1,1)
    }
    label {
      value = Time("%A %e %B")
      loc(1,2)
    }
  }
}

#CSS
@define-color theme_text_color white;
@define-color theme_bg_color black;
@define-color theme_fg_color white;
@define-color borders rgba(256,256,256,0.3);

window#sfwbar {
  -GtkWidget-direction: top;
  background-color: rgba(0,0,0,0.6);
}

grid#layout {
  -GtkWidget-direction: right;
  min-height: 30px;
}

grid {
  padding: 0px;
  margin: 0px;
}

tooltip {
  background-color: @theme_bg_color;
}

image {
  min-width: 18px;
  min-height: 18px;
  box-shadow: none;
  border: none;
  border-image: none;
  background-image: none;
  background: none;
  -gtk-icon-shadow: none;
}

button {
  box-shadow: none;
  border-image: none;
  background-image: none;
  background: none;
  outline-style: none;
}

menu {
  background-color: black;
  border: 1px solid @borders;
  padding: 3px;
}

menu arrow {
  background-color: rgba(0,0,0,0);
  color: @theme_text_color;
}

menuitem {
  color: @theme_text_color;
  padding: 2px;
}

menu image {
  padding-right: 5px;
}

progressbar trough {
  background-color: rgba(256, 256, 256, 0.5);
  border-color: rgba(256,256,256,0.5);
}

#hidden {
  -GtkWidget-visible: false;
}

grid#taskbar_pager_active,
grid#taskbar_pager_normal {
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 4px;
  border: solid rgba(119,119,119,0.3) 1px;
}

button#taskbar_normal image,
button#taskbar_active image,
button#taskbar_normal:hover image {
  min-width: 24px;
  min-height: 24px;
}

button#taskbar_normal label,
button#taskbar_active label,
button#taskbar_normal:hover label {
  padding: 0px 0px 0px 5px;
  -GtkWidget-hexpand: false;
}

button#taskbar_normal,
button#taskbar_active,
button#taskbar_normal:hover {
  padding: 0px 5px 0px 5px;
  border-radius: 4px;
  background-color: rgba(119,119,119,0.2);
  border-color: rgba(119,119,119,0.3);
  -GtkWidget-hexpand: false;
}

button#taskbar_active {
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.4);
}

button#taskbar_normal:hover,
button#taskbar_active:hover {
  background-color: rgba(176,176,176,0.22);
  border-color: rgba(234,234,234,0.44);
}

grid#taskbar_pager_normal button,
grid#taskbar_pager_active button,
button#pager_normal,
button#pager_visible,
button#pager_focused {
  padding: 0px 5px 0px 5px;
  border-radius: 4px;
  border-color: rgba(119,119,119,0);
}

button#pager_focused {
  background-color: rgba(119,119,119,0.2);
  border: none;
}

button#pager_preview {
  border-radius: 0;
  border-color: #000000;
  border-width: 0.25mm;
  color: #777777;
  min-width: 5cm;
  min-height: 2.8125cm;
}

grid#switcher_active image,
grid#switcher_active {
  min-width: 60px;
  min-height: 60px;
  border-image: none;
  padding: 6px;
  background-color: #777777;
  border: 0px;
  box-shadow: none;
  border-radius: 1.25mm;
  -GtkWidget-hexpand: true;
}

grid#switcher_normal image,
grid#switcher_normal {
  min-width: 60px;
  min-height: 60px;
  padding: 6px;
  -GtkWidget-direction: right;
  -GtkWidget-hexpand: true;
}

window#switcher { 
  background-color: rgba(0,0,0,0);
  padding: 6px; 
  -GtkWidget-hexpand: true;
}

grid#switcher { 
  border-radius: 6px;
  background-color: @theme_bg_color;
  border: 1px solid @borders;
  padding: 6px;
  box-shadow: none;
  -GtkWidget-hexpand: true;
}

button#tray_active,
button#tray_passive,
button#tray_attention {
  padding: 0px 1px 0px 0px;
  border: none;
  margin: 0px;
  -GtkWidget-valign: center;
}

button#tray_passive {
  -GtkWidget-visible: false;
}

button#startmenu image,
button#module image{
  -ScaleImage-color: @theme_text_color;
  -ScaleImage-symbolic: true;
}

button#module,
button#launcher,
button#showdesktop,
button#startmenu {
  padding: 0px 3px 0px 3px;
  border: none;
  -GtkWidget-valign: center;
}

button#startmenu {
  border: 1px solid;
  border-radius: 4px;
}

button#startmenu image {
  min-width: 18px;
  min-height: 18px;
  padding: 1px;
}

chart#cpu_chart {
  background: rgba(127,127,127,0.3);
  min-width: 9px;
  margin: 2px;
  border: 1px solid @borders;
  color: red;
}

progressbar#memory {
  -GtkWidget-direction: top;
  min-width: 9px;
  border: 1px solid @borders;
  margin: 2px;
}

progressbar#memory trough {
  min-height: 2px;
  min-width: 9px;
  border: none;
  border-radius: 0px;
  background: rgba(127,127,127,0.3);
}

progressbar#memory progress {
  -GtkWidget-hexpand: true;
  min-width: 9px;
  border-radius: 0px;
  border: none;
  margin: 0px;
  background-color: alpha(green,0.9);
}

label#sway_lang {
  margin-left: 3px;
  margin-right: 5px;
}

label {
  font: 12px Sans;
  color: @theme_text_color;
  text-shadow: none;
}

* {
  -GtkWidget-vexpand: true;
}
