
layout {
  Temps {
    type = grid
    style = "frame"   # add css style for framed grid
    css = "* { padding: 1.25mm; min-width: 2cm; -GtkWidget-direction: bottom; }" # flow new widgets down from previous widget
    children {
      SubGrid1 {
        type = "grid"
        css = "* { -GtkWidget-vexpand: true;}"
        }
      }
      SubGrid2 {
        type = "grid"
        css = "* { -GtkWidget-vexpand: true;}"
        children {
        }
      }
    }
  }
}
