scanner {
# Add up received and transmitted bytes cross all enp* interfaces  
  "/proc/net/dev" {
    flags = "NoGlob"
    EthRcvd.add = "enp.*:[\t ]*([0-9]+)"
    EthSent.add = "enp.*:(?:[\t ]*[0-9]+){8}[\t ]([0-9]+)"
  }

# Poll motherboard temperature
  "/sys/class/hwmon/hwmon2/temp1_input" {
    MBTemp.= "([0-9]+)"
  }

# Poll CPU temperature
  "/sys/class/hwmon/hwmon1/temp1_input" {
    CPUTemp.= "([0-9]+)"
  }

# Poll CPU fan rpm
  "/sys/devices/platform/it87*/hwmon/hwmon2/fan2_input" {
    CPUFan.= "([0-9]+)"
  }

# Poll MB fan rpm
  "/sys/devices/platform/it87*/hwmon/hwmon2/fan1_input" {
    MBFan.= "([0-9]+)"
  }
}

layout {
  Temps {
    type = grid
    style = "frame"   # add css style for framed grid
    css = "* { -GtkWidget-direction: bottom; }" # flow new widgets down from previous widget
    children {
# add first label with explicit coordinates
      EthLabel { 
        type = label
        style = static
        value = "'ETH:'"  # for a static string, put text inside both double and single quotes
        x = 1, y = 1
      }
# the rest of labels in the column will be placed automatically
      CpuLabel { 
        type = label
        style = static
        value = "'CPU:'"
      }
      MbLabel { 
        type = label
        style = static
        value = "'M/B:'"
      }
      FanLabel { 
        type = label
        style = static
        value = "'FAN:'"
      }
# specify position for the first widget in the second column
      EthValue { 
        type = label
        style = value
        value = "Str((EthRcvd-EthRcvd.pval)/0.001024/EthRcvd.time,0)+'K/s'"
        x = 2, y = 1
      }
# and the rest of the widgets will line up automatically
      CpuValue { 
        type = label
        style = value
        value = "Str(CPUTemp/1000,1)"
      }
      MbValue { 
        type = label
        style = value
        value = "Str(MBTemp/1000,1)"
      }
      FanValue { 
        type = label
        style = value
        value = "Str(CPUFan,0)"
      }
    }
  }
}
