Set Term = "alacritty"

scanner {
# Extract memory usage information
  file("/proc/meminfo") {
    MemTotal = RegEx("^MemTotal:[\t ]*([0-9]+)[\t ]")
    MemFree = RegEx("^MemFree:[\t ]*([0-9]+)[\t ]")
    MemCache = RegEx( "^Cached:[\t ]*([0-9]+)[\t ]")
    MemBuff = Regex("^Buffers:[\t ]*([0-9]+)[\t ]")
  }

# Add up total and used swap capacity across all partitions
  file("/proc/swaps") {
    SwapTotal = RegEx("[\t ]([0-9]+)",Sum)
    SwapUsed = RegEx("[\t ][0-9]+[\t ]([0-9]+)",Sum)
  }

# Add up CPU utilization stats across all CPUs
  file("/proc/stat") {
    CpuUser = RegEx("^cpu [\t ]*([0-9]+)",Sum)
    CpuNice = RegEx("^cpu [\t ]*[0-9]+ ([0-9]+)",Sum)
    CpuSystem = RegEx("^cpu [\t ]*[0-9]+ [0-9]+ ([0-9]+)",Sum)
    CpuIdle = RegEx("^cpu [\t ]*[0-9]+ [0-9]+ [0-9]+ ([0-9]+)",Sum)
  }

# Get total and remaining battery charge
  file("/sys/class/power_supply/BAT0/charge_full") {
    BatteryTotal = Grab(Sum)
  }
  file("/sys/class/power_supply/BAT0/charge_now") {
    BatteryLeft = Grab(Sum)
  }
  file("/sys/class/power_supply/AC/online") {
    ACOnline = Grab(Sum)
  }
}

# Window Placer
placer {
  xorigin = 5  # place the first window at X% from the left
  yorigin = 5  # place the first window at X% from the top
  xstep = 5    # step by X% of desktop horizontally
  ystep = 5    # step by X% of desktop vertically
  children = true
}

# Task Switcher
switcher {
  interval = 700
  icons = true
  labels = false
  cols = 5
}

function("SfwbarInit") {
  SetBarId "bar-0"
#  SetLayer "bottom"
#  SetMonitor "eDP-1"
#  SetBarSize "800" 
}

include("winops.widget")

# Panel layout

layout {
  taskbar {
    rows = 2
    css = "* { -GtkWidget-hexpand: true; }" # stretch horizontally
    icons = true
    labels = true
    action[3] = Menu "winops"
  }

#  label { css = "* { -GtkWidget-hexpand: true; }" }

  # add a pager
  pager {
    style = "pager"
    rows = 2
    preview = true
    numeric = true
    pins = "1","2","3","4"
  }

  # add a launcher
  button {
    value = "firefox"
    action = "firefox"                        # launch firefox on click
    css = "* { min-height: 1.25cm; min-width: 1.25cm; }"   # set icon size
  }

  button {
    value = $Term
    action = Exec $Term
    css = "* { min-width: 1.25cm; min-height: 1.25cm; }";
  }

  include("idle.widget")

  grid {
    scale {
      interval = 1000
      css = "progressbar progress { background-color: #0000ff;}"
      action[1] = Exec $Term + " -e top"
      value = (CpuUser-CpuUser.pval)/(CpuUser+CpuNice+CpuSystem+CpuIdle
        -CpuUser.pval-CpuNice.pval-CpuSystem.pval-CpuIdle.pval)
      tooltip = Str((CpuUser-CpuUser.pval)/(CpuUser+CpuNice+CpuSystem+CpuIdle
        -CpuUser.pval-CpuNice.pval-CpuSystem.pval-CpuIdle.pval)*100,0)+'%'
    }
    scale {
      interval = 1000
      css = "progressbar progress { background-color: #00ff00;}"
      value= (MemTotal-MemFree-MemCache-MemBuff)/MemTotal
    }
    scale {
      interval = 1000
      style = ACOnline
      css = "progressbar#1 progress { background-color: #ff0000;} \
             progressbar#0 progress { background-color: #ffff00;}"
      value = BatteryLeft/BatteryTotal
    }
  }

  include("mpd.widget")

  tray {
    rows = 2
  }

  grid {
    style = "frame"
    css = "* { -GtkWidget-direction: right; }"

    label { loc(1,1) }
    include("cpu-temp.widget")
    label { loc(1,2) }
    include("lan-bps.widget")
    label { loc(1,3) }
    include("mb-temp.widget")
    label { loc(1,4) }
    include("fan-rpm.widget")
  }

  include("weather.widget")
  include("clock.widget")
}

#CSS
window {
  -GtkWidget-direction: bottom;
}

#hidden {
  -GtkWidget-visible: false;
}

button#taskbar_normal grid {
  -GtkWidget-hexpand: false;
  padding-right: 0px;
  margin-right: 0px;
}
button#taskbar_normal image, button#taskbar_active image, button#taskbar_normal:hover image {
  min-width: 0.4cm;
  min-height: 0.4cm;
}

button#taskbar_normal label, button#taskbar_active label, button#taskbar_normal:hover label {
  -GtkWidget-vexpand: true;
  -GtkWidget-hexpand: false;
  padding-left: 0.75mm;
  padding-top: 0px;
  padding-bottom: 0px;
  font: 0.3cm Sans;
}

button#taskbar_normal , button#taskbar_active , button#taskbar_normal:hover {
  padding-left: 0.75mm;
  padding-top: 0.5mm;
  padding-bottom: 0.5mm;
  background-image: none;
  border-radius: 0;
  border-image: none;
  -GtkWidget-hexpand: false;
}

button#taskbar_active {
  background-color: #bbddff;
}

button#taskbar_normal:hover {
  background-color: #cccccc;
}

button#pager_normal , button#pager_visible , button#pager_focused {
  padding-left: 1.25mm;
  padding-right: 1.25mm;
  padding-top: 0.5mm;
  padding-bottom: 0.5mm;
  background-image: none;
  border-radius: 0;
  border-image: none;
  font: 0.3cm Sans;
}

button#pager_focused {
  background-color: #bbddff;
}

button#pager_preview {
  background-image: none;
  border-radius: 0;
  border-image: none;
  border-color: #000000;
  border-width: 0.25mm;
  color: #777777;
  min-width: 5cm;
  min-height: 2.8125cm;
}

grid#pager {
  outline-color: #000000;
  outline-style: dashed;
  outline-width: 0.25mm;
}

grid#switcher_active image,
grid#switcher_active {
  min-width: 1.25cm;
  min-height: 1.25cm;
  border-image: none;
  padding: 1.25mm;
  background-color: #bbddff;
  border-radius: 1.25mm;
  -GtkWidget-hexpand: true;
}

grid#switcher_normal image,
grid#switcher_normal {
  min-width: 1.25cm;
  min-height: 1.25cm;
  border-image: none;
  padding: 1.25mm;
  -GtkWidget-direction: right;
  -GtkWidget-hexpand: true;
}

window#switcher { 
  border-style: solid;
  border-width: 0.25mm;
  border-color: #000000;
  border-radius: 1.25mm; 
  padding: 1.25mm; 
  -GtkWidget-hexpand: true;
}

grid#switcher { 
  border-radius: 1.25mm;
  padding: 1.25mm;
  -GtkWidget-hexpand: true;
}

button#tray_active,
button#tray_passive,
button#tray_attention {
  background-image: none;
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-image: none;
  border-radius: 0px;
  outline-style: none;
  box-shadow: none;
}

button#tray_active image,
button#tray_passive image,
button#tray_attention image {
  min-width: 0.43cm;
  min-height: 0.43cm;
  padding: 1mm;
}

progressbar {
  padding-left: 0.25mm;
  padding-right: 0.25mm;
  -GtkWidget-vexpand: true;
  -GtkWidget-direction: top;
}

progress, trough {
  border-radius: 0;
  border-color: #9c9c9c;
}

progress {
  border-style: outset;
  min-width: 2mm;
}

trough {
  background-color: #a1a1a1;
  border-style: inset;
  min-height: 2.5mm;
  min-width: 2.5mm;
}

grid#frame {
  -GtkWidget-direction: bottom;
  min-width: 2cm;
  border-color: #9c9c9c;
  border-style: groove;
  border-width: 0.5mm;
  padding-top: 0.25mm;
}

grid#layout {
  padding: 0.25mm;
  -GtkWidget-direction: right;
}

label#value {
  -GtkWidget-hexpand: true;
  -GtkWidget-align: 1;
  padding-right: 2mm;
  padding-left: 2mm;
}

image#value_icon {
  min-width: 0.3cm;
  min-height: 0.3cm;
}

label#mpd {
  padding-top: 1mm;
  padding-bottom: 1mm;
  padding-left: 2mm;
  padding-right: 2mm;
}

image#mpd {
  min-width: 0.4cm;
  min-height: 0.4cm;
  padding-left: 0.5mm;
  padding-right: 0.5mm;
}

button#module {
  -GtkWidget-vexpand: true;
}

label {
  font: 0.27cm Sans;
}

label#awesome {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
