function("SfwbarInit") {
  SetLayer "overlay"
  SetMonitor "eDP-1"
}

function("ToggleMinimize") {
  [!Minimized] Minimize
  [Minimized] UnMinimize
}

function("ToggleMaximize") {
  [!Maximized] Maximize
  [Maximized] UnMaximize
}

menu("winops") {
  item("focus", Focus );
  item("close", Close );
  item("(un)minimize", Function "ToggleMinimize" );
  item("(un)maximize", Function "ToggleMaximize" );
}

placer {
  xstep = 5    # step by 5% of desktop horizontally
  ystep = 5    # step by 5% of desktop vertically
  xorigin = 5
  yorigin = 5
  children = false
}

# Task Switcher

switcher {
  interval = 700
  icons = true
  labels = false
  cols = 5
}

# Panel layout

layout {

  # add a taskbar
  taskbar {
    css = "* { -GtkWidget-vexpand: false; }" # take up empty space, set icon size
    icons = true     # display icons
    labels = false   # don't display titles
    cols = 1        # stack window buttons across two rows
    action[3] = Menu "winops"
  }

  label {
    css = "* { -GtkWidget-vexpand: true; }"
  }

  # add a pager
  pager {
    preview = true
    cols = 2
    pins = "1","2","3","4"
  }

  # add a launcher
  button {
    action = "firefox"                        # launch firefox on click
    value = "firefox"                          # set icon on the button 
    css = "* { min-height: 1.25cm; min-width: 1.25cm; }"   # set icon size
  }
 button {
    action = "alacritty"
    value = "Alacritty"
    css = "* { min-height: 1.25cm; min-width: 1.25cm; }"
  }

  include("idle.widget")

  include("mpd-mini.widget") {
    css = "* { min-height: 0.1cm; }"
  }

  include("usage.widget")
 
  tray

  grid {
    style = "frame"
    include("cpu-temp.widget")
    include("lan-bps.widget")
    include("mb-temp.widget")
    include("fan-rpm.widget")
  }

  include("weather.widget")
  include("clock.widget")
}

#CSS
window {
  -GtkWidget-direction: left;
}

button#taskbar_normal *, button#taskbar_active *, button#taskbar_normal:hover * {
  min-height: 1.25cm;
  -GtkWidget-hexpand: true;
}

button#taskbar_normal label, button#taskbar_active label, button#taskbar_normal:hover label {
  min-height: 1.25cm;
  padding-left: 0.75mm;
  padding-top: 0px;
  padding-bottom: 0px;
  font: 0.3cm Sans;
}

button#taskbar_normal , button#taskbar_active , button#taskbar_normal:hover {
  min-height: 1.25cm;
  padding-left: 0.75mm;
  padding-top: 0.5mm;
  padding-bottom: 0.5mm;
  background-image: none;
  border-radius: 0;
  border-image: none;
}

button#taskbar_active {
  background-color: #bbddff;
}

button#taskbar_normal:hover {
  background-color: #cccccc;
}

button#pager_normal , button#pager_visible , button#pager_focused {
  -GtkWidget-hexpand: true;
  padding-left: 1.25mm;
  padding-right: 1.25mm;
  padding-top: 0.5mm;
  padding-bottom: 0.5mm;
  background-image: none;
  border-radius: 0;
  border-image: none;
  font: 0.3cm Sans;
}

button#pager_focused {
  background-color: #bbddff;
}

button#pager_preview {
  background-image: none;
  border-radius: 0;
  border-image: none;
  border-color: #000000;
  border-width: 0.25mm;
  color: #777777;
  min-width: 5cm;
  min-height: 2.8125cm;
}

grid#pager {
  outline-color: #000000;
  outline-style: dashed;
  outline-width: 0.25mm;
}

grid#switcher_active *, grid#switcher_active, grid#switcher_active * * {
  min-width: 1.25cm;
  min-height: 1.25cm;
  background-color: #bbddff;
  border-image: none;
  border-radius: 1.25mm;
  padding: 1.25mm;
}

grid#switcher_normal *, grid#switcher_normal {
  min-width: 1.25cm;
  min-height: 1.25cm;
  border-image: none;
  padding: 1.25mm;
}

window#switcher { 
  border-style: solid;
  border-width: 0.25mm;
  border-color: #000000;
  border-radius: 1.25mm; 
  padding: 1.25mm; 
}

grid#switcher { 
  border-radius: 1.25mm;
  padding: 1.25mm;
}

image#tray_active, image#tray_passive, image#tray_attention {
  min-width: 1.25cm;
  min-height: 1.25cm;
}

progressbar {
  padding-left: 0.25mm;
  padding-right: 0.25mm;
  -GtkWidget-hexpand: true;
  -GtkWidget-direction: right;
}

progress, trough {
  border-radius: 0;
  border-color: #9c9c9c;
}

progress {
  border-style: outset;
  min-height: 2mm;
}

trough {
  background-color: #a1a1a1;
  border-style: inset;
  min-height: 2.5mm;
  min-width: 2.5mm;
}

grid#scales {
  -GtkWidget-direction: bottom;
}

grid#frame {
  -GtkWidget-direction: bottom;
  -GtkWidget-vexpand: false;
  min-height: 1.5cm;
  border-color: #9c9c9c;
  border-style: groove;
  border-width: 0.5mm;
  padding-top: 0.25mm;
}

grid#layout {
  padding: 0.25mm;
  -GtkWidget-direction: bottom;
}

label#value {
  -GtkWidget-hexpand: true; 
  -GtkWidget-align: 1;
  padding-right: 2mm;
  padding-left: 2mm;
}

image#value_icon {
  min-width: 0.25cm;
  min-height: 0.25cm;
}

image#mpd {
  padding: 0.5mm;
}

button#idle_inhibit {
  -GtkWidget-hexpand: true;
}

label {
  font: 0.27cm Sans;
  color: #000000;
}

tooltip label {
  color: #cccccc;
}

label#awesome {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
