
scanner {
# Extract memory usage information
  file("/proc/meminfo") {
    MemTotal = RegEx("^MemTotal:[\t ]*([0-9]+)[\t ]")
    MemFree = RegEx("^MemFree:[\t ]*([0-9]+)[\t ]")
    MemCache = RegEx( "^Cached:[\t ]*([0-9]+)[\t ]")
    MemBuff = Regex("^Buffers:[\t ]*([0-9]+)[\t ]")
  }

# Add up total and used swap capacity across all partitions
  file("/proc/swaps") {
    SwapTotal = RegEx("[\t ]([0-9]+)",Sum)
    SwapUsed = RegEx("[\t ][0-9]+[\t ]([0-9]+)",Sum)
  }

# Add up CPU utilization stats across all CPUs
  file("/proc/stat") {
    CpuUser = RegEx("^cpu [\t ]*([0-9]+)",Sum)
    CpuNice = RegEx("^cpu [\t ]*[0-9]+ ([0-9]+)",Sum)
    CpuSystem = RegEx("^cpu [\t ]*[0-9]+ [0-9]+ ([0-9]+)",Sum)
    CpuIdle = RegEx("^cpu [\t ]*[0-9]+ [0-9]+ [0-9]+ ([0-9]+)",Sum)
  }

# Get total and remaining battery charge
  file("/sys/class/power_supply/BAT0/charge_full") {
    BatteryTotal = Grab(Sum)
  }
  file("/sys/class/power_supply/BAT0/charge_now") {
    BatteryLeft = Grab(Sum)
  }
  file("/sys/class/power_supply/AC/online") {
    ACOnline = Grab(Sum)
  }
  SwayClient("") {
    SwayVar = json(".window.[change=focus].change")
  }
}

MapAppId ".*Vivaldi$","firefox"

# Window Placer
placer {
  xorigin = 5  # place the first window at X% from the left
  yorigin = 5  # place the first window at X% from the top
  xstep = 5    # step by X% of desktop horizontally
  ystep = 5    # step by X% of desktop vertically
  children = true
}

# Task Switcher
switcher {
  interval = 700
  icons = true
  labels = false
  cols = 5
}

function("SfwbarInit") {
  SetBarId "bar-0"
  SetLayer "top"
  SetExclusiveZone "-1"
  SetMonitor "eDP-1"
#  SetBarSize "bar1","800" 
}

function("ToggleMinimize") {
  [!Minimized] Minimize
  [Minimized] UnMinimize
}

function("ToggleMaximize") {
  [!Maximized] Maximize
  [Maximized] UnMaximize
}

function("ToggleValue") {
  [!UserState] UserState "on"
  [!UserState] SetValue "firefox"
  [UserState] UserState "off"
  [UserState] SetValue "alacritty"
}

menu("winops") {
  item("focus", Focus );
  item("close", Close );
  item("(un)minimize", Function "ToggleMinimize" );
  item("(un)maximize", Function "ToggleMaximize" );
}

# Panel layout

layout "sfwbar" {
  taskbar {
    rows = 1
    group = true
    group cols = 1
    group style = "taskbar_group"
    group labels = true
    group icons = true
    icons = true
    labels = false
    filter_output = true
    action[3] = Menu "winops"
  }

  label { css = "* { -GtkWidget-hexpand: true; min-height: 40px; }" }

  tray {
    rows = 1
  }

  grid {
    css = "* { -GtkWidget-direction: bottom; }"
    label {
      value = Time("%k:%M")
      style ="clock"
    }
    label {
      value = Time("%x")
      style ="clock"
    }
  }
}

#CSS
window {
  -GtkWidget-direction: bottom;
  background-color: #353231;
}

window#taskbar_group {
  background-color: RGBA(0.2,0.2,0.2,0.5);
}

#hidden {
  -GtkWidget-visible: false;
}

button#taskbar_group_normal,
button#taskbar_group_normal:hover,
button#taskbar_group_active {
  background-image: none;
  border: 0px;
  border-image: none;
  border-radius: 0px;
  outline-style: none;
  box-shadow: none;
}

button#taskbar_group_normal image,
button#taskbar_group_normal:hover image,
button#taskbar_group_active image {
  min-height: 30px;
  min-width: 30px;
  margin: 5px;
}

button#taskbar_group_active {
background-color: #493B41;
}

button#taskbar_group_active:hover {
background-color: #535353;
}

button#taskbar_group_normal:hover {
background-color: #535353;
}

button#taskbar_normal grid {
  padding-right: 0px;
  margin-right: 0px;
  min-height: 0px;
}

button#taskbar_normal image, button#taskbar_active image, button#taskbar_normal:hover image {
  min-width: 18px;
  min-height: 18px;
}

button#taskbar_normal label, button#taskbar_active label, button#taskbar_normal:hover label {
  -GtkWidget-hexpand: true;
  padding-left: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
  font: 0.3cm Sans;
  text-shadow: none;
  color: #d1d1d1;
}

button#taskbar_normal , button#taskbar_active , button#taskbar_normal:hover {
  background-image: none;
  border-radius: 0;
  border-image: none;
  border: 0px;
  outline-style: none;
  box-shadow: none;
  -GtkWidget-hexpand: false;
  -GtkWidget-vexpand: false;
  min-height: 0px;
background-color: #535353;
}

button#taskbar_active {
  background-color: #646464;
}

button#taskbar_normal:hover {
  background-color: #535353;
}

button#taskbar_normal:hover {
  background-color: #646464;
}

button#pager_normal , button#pager_visible , button#pager_focused {
  padding-left: 1.25mm;
  padding-right: 1.25mm;
  padding-top: 0.5mm;
  padding-bottom: 0.5mm;
  background-image: none;
  border-radius: 0;
  border-image: none;
  font: 0.3cm Sans;
}

button#pager_focused {
  background-color: #bbddff;
}

button#pager_preview {
  background-image: none;
  border-radius: 0;
  border-image: none;
  border-color: #000000;
  border-width: 0.25mm;
  color: #777777;
  min-width: 5cm;
  min-height: 2.8125cm;
}

grid#pager {
  outline-color: #000000;
  outline-style: dashed;
  outline-width: 0.25mm;
}

grid#switcher_active image,
grid#switcher_active {
  min-width: 1.25cm;
  min-height: 1.25cm;
  border-image: none;
  padding: 1.25mm;
  background-color: #bbddff;
  border-radius: 1.25mm;
  -GtkWidget-hexpand: true;
}

grid#switcher_normal image,
grid#switcher_normal {
  min-width: 1.25cm;
  min-height: 1.25cm;
  border-image: none;
  padding: 1.25mm;
  -GtkWidget-direction: right;
  -GtkWidget-hexpand: true;
}

window#switcher { 
  border-style: solid;
  border-width: 0.25mm;
  border-color: #000000;
  border-radius: 1.25mm; 
  padding: 1.25mm; 
  -GtkWidget-hexpand: true;
}

grid#switcher { 
  border-radius: 1.25mm;
  padding: 1.25mm;
  -GtkWidget-hexpand: true;
}

button#tray_active,
button#tray_passive,
button#tray_attention {
  background-image: none;
  border: 0px;
  margin: 0px;
  border-image: none;
  border-radius: 0px;
  outline-style: none;
  box-shadow: none;
}

button#tray_active label,
button#tray_passive label,
button#tray_attention label {
  padding: 1px;
  text-shadow: none;
  color: #d1d1d1;
}

button#tray_active image,
button#tray_passive image,
button#tray_attention image {
  min-width: 18px;
  min-height: 18px;
  -GtkWidget-vexpand: true;
  -GtkWidget-halign: center;
  -GtkWidget-valign: center;
}

label#clock {
  color: #d1d1d1;
  -GtkWidget-vexpand: true;
  -GtkWidget-valign: center;
}

grid#layout {
  -GtkWidget-direction: right;
}
