Set Term = "alacritty"

# Window Placer
placer {
  xorigin = 5  # place the first window at X% from the left
  yorigin = 5  # place the first window at X% from the top
  xstep = 5    # step by X% of desktop horizontally
  ystep = 5    # step by X% of desktop vertically
  children = true
}

# Task Switcher
switcher {
  interval = 700
  icons = true
  labels = false
  cols = 5
}

function("SfwbarInit") {
  SetBarId "bar-0"
  SetLayer "top"
  SetExclusiveZone "-1"
  SetMonitor "eDP-1"
#  SetBarSize "bar1","800" 
}

include("winops.widget")

# Panel layout

layout "sfwbar" {
  include("startmenu.widget")
  include("showdesktop.widget")

  taskbar {
    rows = 1
    group = true
    group cols = 1
    group style = "taskbar_group"
    group labels = true
    group icons = true
    icons = true
    labels = false
    action[3] = Menu "winops"
  }

  label { css = "* { -GtkWidget-hexpand: true; min-height: 28px; }" }

  tray {
    rows = 1
  }

  include("battery-svg.widget")
  include("bluez.widget")
# include("rfkill-wifi.widget")
# include("rfkill-bt.widget")
  include("network-module.widget")
# Select pulse-module or alsa-module based on your sound configuration
  include("pulse-module.widget")
# include("alsa-module.widget")
  include("mpd-intmod.widget")
  include("sway-lang.widget")

  grid {
    css = "* { -GtkWidget-direction: bottom; padding: 5px; padding-left: 0px; }"
    label {
      value = Time("%k:%M")
      style ="clock"
    }
    label {
      value = Time("%x")
      style ="clock"
    }
  }
}

#CSS
@define-color theme_bg_color #353231;
@define-color theme_fg_color #d1d1d1;
@define-color theme_text_color #d1d1d1;
@define-color borders #777777;

window {
  -GtkWidget-direction: bottom;
  background-color: #353231;
}

label {
  font: 12px sans;
  color: @theme_text_color;
  text-shadow: none;
}

button,
button image {
  outline-style: none;
  box-shadow: none;
  background-image: none;
  border-image: none;
}

window#taskbar_group {
  background-color: RGBA(0.2,0.2,0.2,0.5);
}

#hidden {
  -GtkWidget-visible: false;
}

button#taskbar_group_normal,
button#taskbar_group_normal:hover,
button#taskbar_group_active {
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  -GtkWidget-valign: center;
}

button#taskbar_group_normal image,
button#taskbar_group_normal:hover image,
button#taskbar_group_active image {
  min-height: 30px;
  min-width: 30px;
  margin: 0px;
}

button#taskbar_group_active {
  background-color: #493B41;
}

button#taskbar_normal:hover,
button#taskbar_group_normal:hover,
button#taskbar_group_active:hover {
  background-color: #535353;
}

button#taskbar_normal grid {
  padding-right: 0px;
  margin-right: 0px;
  min-height: 0px;
}

button#taskbar_normal image,
button#taskbar_active image,
button#taskbar_normal:hover image {
  min-width: 18px;
  min-height: 18px;
}

button#taskbar_normal label,
button#taskbar_active label,
button#taskbar_normal:hover label {
  -GtkWidget-hexpand: true;
  -GtkWidget-halign: start;
  padding: 0px 7px 0px 0px;
}

button#taskbar_normal,
button#taskbar_active,
button#taskbar_normal:hover {
  border-radius: 0;
  border: 0px;
  box-shadow: none;
  -GtkWidget-hexpand: false;
  -GtkWidget-vexpand: false;
  min-height: 0px;
  background-color: #535353;
}

button#taskbar_active {
  background-color: #646464;
}


button#taskbar_normal:hover {
  background-color: #646464;
}

#menu_item,
#menu_item *,
#menu_item image,
#menu_item label {
  -GtkWidget-halign: start;
  color: white;
}

#menu_item image {
  min-width: 16px;
  min-height: 16px;
  padding-right: 2px;
}

menu {
  background-color: #353231;
}

menu arrow {
  background: none;
}

button#pager_normal,
button#pager_visible,
button#pager_focused {
  padding: 0px 5px 0px 5px;
  border-radius: 0;
}

button#pager_focused {
  background-color: #bbddff;
}

button#pager_preview {
  border-radius: 0;
  border-color: #000000;
  border-width: 0.25mm;
  color: #777777;
  min-width: 5cm;
  min-height: 2.8125cm;
}

grid#pager {
  outline-color: #000000;
  outline-style: dashed;
  outline-width: 0.25mm;
}

grid#switcher_active image,
grid#switcher_active {
  min-width: 50px;
  min-height: 50px;
  padding: 5px;
  background-color: #646464;
  border-radius: 5px;
  -GtkWidget-hexpand: true;
}

grid#switcher_normal image,
grid#switcher_normal {
  min-width: 50px;
  min-height: 50px;
  padding: 5px;
  -GtkWidget-direction: right;
  -GtkWidget-hexpand: true;
}

window#switcher { 
  border: 1px solid @borders;
  border-radius: 5px; 
  padding: 5px; 
  -GtkWidget-hexpand: true;
}

grid#switcher { 
  border-radius: 5px;
  padding: 5px;
  -GtkWidget-hexpand: true;
}

button#tray_active,
button#tray_passive,
button#tray_attention {
  border: 0px;
  margin: 0px;
  border-radius: 0px;
}

button#tray_active label,
button#tray_passive label,
button#tray_attention label {
  padding: 1px;
  color: @theme_text_color;
}

button#tray_active image,
button#tray_passive image,
button#tray_attention image {
  min-width: 18px;
  min-height: 18px;
  -GtkWidget-vexpand: true;
  -GtkWidget-halign: center;
  -GtkWidget-valign: center;
}

label#clock {
  color: @theme_text_color;
  -GtkWidget-vexpand: true;
  -GtkWidget-valign: center;
  font-size: 12px;
}

label#sway_lang {
  margin-left: 3px;
  margin-right: 5px;
}

grid#layout {
  -GtkWidget-direction: right;
}

button#module,
button#showdesktop,
button#startmenu {
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  min-height: 18px;
  min-width: 18px;
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
  padding: 0px 3px 0px 3px;
}

button#startmenu,
button#showdesktop {
  min-width: 24px;
  min-height: 24px;
}

* {
  color: #ffffff;
}
