scanner {
  SwayClient("") {}  # launch sway client to get "sway" trigger
}

# Window Placer
placer {
  xorigin = 5  # place the first window at X% from the left
  yorigin = 5  # place the first window at X% from the top
  xstep = 5    # step by X% of desktop horizontally
  ystep = 5    # step by X% of desktop vertically
  children = true
}

# Task Switcher
switcher {
  interval = 700
  icons = true
  labels = false
  cols = 5
}

include("winops.widget")

#function("SfwbarInit") {
#  SetLayer "bottom"
#}

# Panel layout

layout ":start" {
  pager {
    style = "pager"
    rows = 1
    preview = true
    numeric = true
  }
}

layout ":center" {
  label {
    trigger = "sway"
    value = ActiveWin()
    css = "*{ -GtkWidget-ellipsize: true; -GtkWidget-hexpand: true; color: #ffffff; }"
  }
}

layout ":end" {
  include("wbar-mpd.widget")
#  include("wbar-bluetooth.widget")
  include("wbar-idleinhibit.widget")
  include("wbar-pulse.widget")
  include("wbar-net.widget")
  include("wbar-cpu.widget")
  include("wbar-memory.widget")
  include("wbar-temp.widget")
  include("wbar-backlight.widget")
  include("wbar-sway-lang.widget")
  include("wbar-battery.widget")

  label {
    style = "clock"
    value = Time("%H:%M")
  }

  tray {
    rows = 1
  }
}

#CSS
* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#sfwbar {
  -GtkWidget-direction: top;
  background-color: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

eventbox { background-image: none; background-color: transparent; }

button#pager_normal *, button#pager_visible *, button#pager_focused * {
  padding: 0px;
  color: #ffffff;
}

button#pager_normal, button#pager_visible, button#pager_focused {
  padding: 0 5px;
  background-color: transparent;
  background-image: none;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
  min-height: 30px;
}

button#pager_focused {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#mode {
  background-color: #64727D;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#network_disconnected,
#pulseaudio,
#pulseaudio_muted,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#idle_inhibitor_activated,
#bluetooth,
#mpd {
  padding: 0 10px;
  color: #ffffff;
  margin-right: 4px;
}

#window,
#workspaces {
  margin: 0 4px;
}

#clock {
  background-color: #64727D;
}

#bluetooth {
  background-color: #84225D;
}

#battery {
  background-color: #ffffff;
  color: #000000;
}

#battery_charging, #battery_plugged {
  color: #ffffff;
  background-color: #26A65B;
}

@keyframes blink {
  to {
      background-color: #ffffff;
      color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label {
  color: #000000;
  -GtkWidget-vexpand: true;
  -GtkWidget-ellipsize: false;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#memory {
  background-color: #9b59b6;
}

#disk {
  background-color: #964B00;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #2980b9;
}

#network_disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  background-color: #f1c40f;
  color: #000000;
}

#pulseaudio_muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

image#tray_active, image#tray_passive, image#tray_attention {
  background-color: #2980b9;
  padding: 7px 5px;
}

image#tray_passive {
  -gtk-icon-effect: dim;
}

image#tray_attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor_activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd_play,
#mpd_paused,
#mpd_stopped,
#mpd_disconnected,
#mpd {
  background-color: #66cc99;
  color: #2a5c45;
  padding: 0 10px;
  margin-right: 4px;
}

#mpd_disconnected {
  -GtkWidget-visible: false;
  background-color: #f53c3c;
}

#mpd_stopped {
  background-color: #90b1b1;
}

#mpd_paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  margin-right: 9px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#clock {
  background-color: #64727D;
}

#hidden {
  -GtkWidget-visible: false;
}

button#pager_preview {
  background-image: none;
  border-radius: 0;
  border-image: none;
  border-color: #000000;
  border-width: 0.25mm;
  color: #777777;
  min-width: 5cm;
  min-height: 2.8125cm;
}

grid#switcher_active *, grid#switcher_active, grid#switcher_active * * {
  min-width: 1.25cm;
  min-height: 1.25cm;
  border-image: none;
  padding: 1.25mm;
  background-color: #2980b9;
  border-radius: 1.25mm;
}

grid#switcher_normal *, grid#switcher_normal, grid#switcher_normal * * {
  min-width: 1.25cm;
  min-height: 1.25cm;
  border-image: none;
  padding: 1.25mm;
}

window#switcher { 
  border-style: solid;
  border-width: 0.25mm;
  border-color: #000000;
  border-radius: 1.25mm; 
  padding: 1.25mm; 
  -GtkWidget-hexpand: true;
  background-color: rgba(43, 48, 59, 0.5);
  border: 3px solid rgba(100, 114, 125, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

grid#switcher { 
  border-radius: 1.25mm;
  padding: 1.25mm;
}
